<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reminisce"
        tools:targetApi="29" >
        <activity
            android:name=".ui.activity.report.ServiceAreaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.report.InternalDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.map.place.PlaceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.map.MapTestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.friend_tag.editable.FriendTagEditableDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.tag.editable.TagEditableDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.friend_tag.FriendTagDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.tag.TagDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.category.editable.CategoryEditableDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.writer.detail.WriteDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.map.SearchLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.map.MapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.writer.options.WriteOptionCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.writer.WriteOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.writer.options.WriteOptionFriendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.report.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.writer.options.WriteOptionTagActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.setting.AddFriendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.setting.FriendsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.setting.AccountSettingEditPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.setting.AccountSettingEditNicknameActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.setting.AccountSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.writer.WriteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.category.CategoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.launcher.LauncherActivity"
            android:exported="true" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.sign_up.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.sign_in.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false" />
    </application>

</manifest>